{% extends 'base.html.twig' %}

{% block title %}Hello MentionController!{% endblock %}

{% block content %}
    <p class="text-center">
        <br/>
        Thomas devweb94 éditeur du site<br/><br/>
        Société par Action Simplifiée au capital de 32 000 €<br/><br/>
        Siège social : 40-42 Quai du Point du Jour, 92100 Boulogne-Billancourt<br/><br/>
        Immatriculée au RCS de Nanterre sous le numéro : 494 804 476<br/><br/>
        Numéro CPPAP : 1924 W 90837<br/><br/>
        Numéro de téléphone : 01 40 23 10 20<br/><br/>
    </p>

{% endblock %}
