{% extends 'base.html.twig' %}

{% block title %}Hello PolitiqueController!{% endblock %}

{% block content %}
    <p class="text-center">Cette charte présente nos engagements et les principes fondamentaux que nous appliquons à la protection des données personnelles des Utilisateurs de nos Services.
        Elle vous informe des procédés de collecte et d'utilisation de vos données, des options et des droits dont vous bénéficiez.
        Elle pourra être modifiée à tout moment, afin notamment de se conformer à toutes évolutions réglementaires, jurisprudentielles, éditoriales ou techniques. Avant chaque navigation, nous vous invitons à vous référer à sa dernière version.
        Pour toute question complémentaire, vous pouvez contacter notre délégué à la protection des données personnelles à l'adresse suivante : dpo@amaury.com

        Les termes commençant par une majuscule ont le sens qui leur est donné dans les Conditions Générales d'Utilisation.</p>
    <br/>
    <p class="text-center">Cette charte s'applique à tout traitement de données personnelles des Supports Numériques et complète donc les Conditions Générales d'Utilisation, les Conditions Générales de Vente de nos produits et services, les règlements de jeux organisés par l'EQUIPE 24/24et la Charte des commentaires aux publications L'Équipe qui définit les principes appliqués à la modération des contributions en ligne dans les Espaces participatifs du site.</p>
    <br/>
    <h3>Pourquoi collectons-nous des données vous concernant ?</h3>
    <br/>
    <p class="text-center">Nous collectons des données pour adapter le contenu des Supports Numériques et ainsi adapter ce que vous voyez ou trouvez dans nos produits à ce que vous cherchez. Cela nous conduira dans le temps à vous demander quelles sont vos préférences.

        Nous collectons également des données pour financer les coûts de rédaction et d'élaboration des Contenus ainsi que les coûts d'acheminement des Contenus (vidéo notamment) vers votre terminal.</p>
    <br/>
    <p class="text-center">Tous les utilisateurs des Supports Numériques sont concernés par des traitements des Supports Numériques.

        Nous distinguons trois catégories de personnes concernées, définies aux Conditions Générales d'Utilisation des Supports Numériques :

        - Les Utilisateurs,
        - Les Utilisateurs Enregistrés,
        - Les Abonnés.

        Aussi, lors de votre navigation, lors de votre inscription à nos produits et services ou lors de l'achat d'articles ou de produits et services, vous recevrez l'ensemble des informations obligatoires relatives à la collecte et au traitement de vos données.

        Les Contenus éditoriaux des Supports Numériques sont des contenus « tout public ». Nos Services ne ciblent pas particulièrement les personnes mineures néanmoins, conformément à la Règlementation Informatique et Libertés, les mineurs ne peuvent s'inscrire aux Services sans le consentement des parents ou des titulaires de l'autorité parentale. On entend par « mineur », l'enfant de moins de quinze (15) ans au sens de l'article 45 de la loi n° 78-17 du 6 janvier 1978 modifiée. Aussi nous vous remercions de bien vouloir respecter scrupuleusement les conditions de validité de votre inscription dans le cas où vous auriez besoin du consentement de vos parents ou des titulaires de l'autorité parentale.</p>
    <br/>
    <p class="text-center">Nous nous engageons à ce que la collecte et le traitement de vos données soient effectués conformément au Règlement Général sur la Protection des Données (RGPD) (n°2016-679 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données) , la Loi dite « Informatique et libertés » (loi n°78-17 du 6 janvier 1978 modifiée relative à l'informatique, aux fichiers et aux libertés), et toute règlementation qui les complète ou qui s'y substituerait et la directive européenne concernant les communications électroniques, dite « ePrivacy » (2002/58/CE actualisée 2009/136/CE).

        Dans tous les cas, nous ne collecterons vos données qu'après une information préalable, accompagnée d'une adhésion à un service, un consentement ou un accord de votre part, auprès de vous ou de nos partenaires.

        Vos données peuvent être collectées notamment lors de :
        - la création d'un Compte utilisateur et/ou client ;
        - la souscription à un Abonnement ou à un service ;
        - l'acceptation de recevoir les actualités et offres ;
        - la participation à un jeu concours, à une enquête client, etc. ;
        - l'interaction avec nos services via des formulaires de contact ou de candidature ;
        - la navigation sur internet par la lecture de Cookies ou lorsque l'Utilisateur clique sur des publicités relatives aux Services ;
        - etc...

        Lors d'une collecte de vos données, nos engagements de transparence nous conduisent à vous informer :
        - des objectifs du recueil de ces données (finalités) ;
        - si la fourniture des données est obligatoire ou facultative (généralement, à défaut de renseignement de données obligatoires, l'accès aux services et leur utilisation seront affectés) ;
        - de l'identité du ou des responsables de traitement (c'est à dire les destinataires de vos données) ;
        - de vos droits et de la façon de les exercer ;
        - du fondement juridique justifiant le traitement (votre consentement, le respect d'une obligation légale, l'exécution du contrat qui nous lie, ou l'intérêt légitime de l'Editeur ou d'un tiers...) ;
        - des garanties apportées conformément à la loi en cas de transfert hors Union Européenne ;
        - des durées de conservation ou lorsque cela n'est pas possible des critères utilisés pour déterminer cette durée.

        Les finalités des données et informations issues des Cookies, dont le dépôt est soumis à consentement, sont indiquées dans les dispositifs d'information (bandeau, modale, CMP), accessibles aisément dans le menu des Supports Numériques et présents à la première connexion. Pour plus d'information, veuillez consulter la Gestion des cookies et traceurs ci-dessous.</p>
{% endblock %}
